<?xml version="1.0" encoding="UTF-8"?>
<phpunit xsi="http://www.w3.org/2001/XMLSchema-instance" noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd"
bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Mini Leboncoin Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>